.clock_k{
    position:relative;
    margin: 50px auto;
    width:500px;
    height:500px;
    border: 20px solid #232323;
    border-radius: 50%;
}

.clock_f{
    background: url('clocknew.png') no-repeat center;
    background-size: cover;
    position: relative;
    width:100%;
    height: 100%;
    transform: translateY(-3px);
}

.clock_b{
    position: absolute;
    width:24px;
    height: 24px;
    border-radius: 50%;
    background-color: #232323;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.clock_r{
    position: absolute;
    top:50%;
    height: 3px;
    width: 45%;
    left:5%;
    background-color: #232323;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.015s cubic-bezier(0, 2.85, 0.25, 1);
}

.clock_s{
    position: absolute;
    top:50%;
    height: 3px;
    width: 45%;
    left:5%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.015s cubic-bezier(0, 2.85, 0.25, 1);
}

.hou_m{
    width:30%;
    left:20%;
}

.min_m{
    width:40%;
    left:10%;
}

.sec_m{
    background-color: red;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.clock_k1{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid green;
    border-radius: 50%;
}

.clock_k2{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid yellow;
    border-radius: 50%;
}

.clock_k3{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid blue;
    border-radius: 50%;
}

.clock_k4{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid violet;
    border-radius: 50%;
}

.clock_k5{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid orange;
    border-radius: 50%;
}

.clock_k6{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid purple;
    border-radius: 50%;
}

.clock_k7{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid brown;
    border-radius: 50%;
}

.clock_k8{
    position:relative;
    margin: 14px auto;
    width: 200px;
    height: 200px;
    border: 10px solid aquamarine;
    border-radius: 50%;
}

.hou_m1{
    width:30%;
    left:20%;
}

.min_m1{
    width:40%;
    left:10%;
}

.sec_m1{
    background-color: green;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m2{
    width:30%;
    left:20%;
}

.min_m2{
    width:40%;
    left:10%;
}

.sec_m2{
    background-color: yellow;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m3{
    width:30%;
    left:20%;
}

.min_m3{
    width:40%;
    left:10%;
}

.sec_m3{
    background-color: blue;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m4{
    width:30%;
    left:20%;
}

.min_m4{
    width:40%;
    left:10%;
}

.sec_m4{
    background-color: violet;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m5{
    width:30%;
    left:20%;
}

.min_m5{
    width:40%;
    left:10%;
}

.sec_m5{
    background-color: orange;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m6{
    width:30%;
    left:20%;
}

.min_m6{
    width:40%;
    left:10%;
}

.sec_m6{
    background-color: purple;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m7{
    width:30%;
    left:20%;
}

.min_m7{
    width:40%;
    left:10%;
}

.sec_m7{
    background-color: purple;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

.hou_m8{
    width:30%;
    left:20%;
}

.min_m8{
    width:40%;
    left:10%;
}

.sec_m8{
    background-color: aquamarine;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

